{% extends 'base_layout.html' %}

{% block content %}
    <a href="{% url 'playlist:songupload' emotion %}" class="btn btn-primary mt-2" style="float:right;">Add Song</a>
    <h3 align="center" class="text-info"><u>Your {{type}} Playlist</u></h3>
    {% if messages %}
        {% for message in messages %}
        <ul class="text-warning"><strong>{{message}}</strong></ul>
        {% endfor %}
    {% endif %}
    <div style="margin:2%;">
    
    <button type="button"  style="float:right;margin-right: 1%;" class="btn btn-dark feedback" value="No" onclick="feedbackHandle(event)">No</button>
    <button type="button"  style="float:right;margin-right: 1%;" class="btn btn-success feedback" value="Yes" onclick="feedbackHandle(event)">Yes</button>
    <!-- <input style="float:right;margin-right: 1%;" class="btn btn-dark feedback" type="button" value="No">
    <input style="float:right;margin-right: 1%;" class="btn btn-success feedback" type="button" value="Yes"> -->
    
    <strong style="float:right;margin-right: 1%;" class="feedback">Was the prediction right?</strong>
    <span id="err" style="display:none;float:right;height:2.5em;margin-right: 2%;" class="alert alert-info" role="alert"></span>
    </div>
<br>
<hr>
    {% for song in songs %}
<h3 class="mt-3">{{song.name}} :
    <audio controls>
        <source src="{{song.track.url}}" type="audio/mp3">
    </audio><a href="{% url 'playlist:delete' type=emotion id=song.id %}" class="btn btn-danger mr-5" style="float:right;">Delete Song</a>
</h3><hr>
    {% endfor %}

<script>
    function feedbackHandle(event){
        var feedback=event.target.value;
        elements=document.getElementsByClassName("feedback");
        
        for(var i=0;i<elements.length;i+=1){
            elements[i].style.display="none";
            
        }
    
        element=document.getElementById("err");
        
        if (feedback=="Yes"){
            element.innerText="I love you";
            element.style.display="initial";
        
        }
        else{
            element.innerText="Will serve you better next time";
            element.style.display="initial"; 
        }

    }
</script>

{% endblock %}