{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{%static 'style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Beyond Music</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'startpage' %}"><img class="logoo" src="{% static 'logo.jpg' %}"></a>
            {% if user.is_authenticated%}
            <form class="logout-link mt-5 mr-2" action="{%url 'accounts:logout'%}" method="post" style="float:right;">
                {%csrf_token%}
                <input type="submit" value="Logout" class="btn btn-warning mt-10">
            </form>
            <a href="{%url 'accounts:reset'%}" class="btn btn-danger mt-5 mr-2" style="float:right;"> Reset Password</a>
            {% else %}
            <a class="btn btn-success mt-5 mr-3" href="{% url 'accounts:login' %}" style="float:right;">Login</a>
            {% endif %}

            {% if "/" == request.path %}
            <a href="{% url 'startpage' %}" class="btn btn-info mt-5 mr-2" style="float:right; display:none;">Home Page</a>
            {% elif "/accounts/login/" == request.path %}
            <a href="{% url 'startpage' %}" class="btn btn-info mt-5 mr-2" style="float:right; display:none;">Home Page</a>
            {% else %}
            <a href="{% url 'startpage' %}" class="btn btn-info mt-5 mr-2" style="float:right; display:block;">Home Page</a>
            {% endif %}
        </div>
        <div class="wrapper mt-0 ml-3">
            {% block content %}
            {% endblock %}
        </div>
    </header>
</body>
</html>